.btns {
	padding: 1rem 0;
	display: flex;
	gap: 1rem;
	justify-content: flex-end;
	border-top: 1px dotted #e3e3e3;
	border-bottom: 1px dotted #e3e3e3;
}
.btns a,
.btns span {
	background-color: lightgray;
	font-size: 0.75rem;
	border-radius: 10px;
	padding: 1rem;
	cursor: pointer;
	transition: 0.3s;
}
.btns a:hover,
.btns span:hover {
	background-color: grey;
	color: white;
}
